# SQL

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

* A database is a structured collection of data organized in a way that a computer program can quickly select and retrieve specific pieces of data. It typically consists of tables, which are organized into rows and columns, with each row representing a record and each column representing a field.
*  SQL databases use a structured, tabular format with a predefined schema, while NoSQL databases are more flexible, accommodating various data models and structures.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL stands for Data Definition Language.It consists of mainly CREATE, DROP, ALTER, and TRUNCATE.
CREATE:The CREATE statement is used to create database objects, such as tables, indexes, or views.
* CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE);
* DROP:The DROP statement is used to delete database objects, such as tables, indexes, or views.
Example: Dropping the 'employees' table:
DROP TABLE employees;
*ALTER:

The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.
Example: Adding a new column 'salary' to the 'employees' table:
ALTER TABLE employees
ADD COLUMN salary DECIMAL(10, 2);
* TRUNCATE:

The TRUNCATE statement is used to remove all records from a table but retains the structure of the table for future use.
Example: Truncating the 'employees' table, removing all data but keeping the table structure:TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. DML statements include INSERT, UPDATE, DELETE, and SELECT.

Here's a brief explanation of INSERT, UPDATE, and DELETE with examples:

INSERT:

The INSERT statement is used to add new records (rows) into a table.
Example: Inserting a new employee record into the 'employees' table:

sql
Copy code
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2024-02-06');
UPDATE:

The UPDATE statement is used to modify existing records in a table.
Example: Updating the salary of an employee in the 'employees' table:

sql
Copy code
UPDATE employees
SET salary = 50000
WHERE employee_id = 1;
DELETE:

The DELETE statement is used to remove records from a table based on a specified condition.
Example: Deleting an employee record from the 'employees' table based on their ID:

sql
Copy code
DELETE FROM employees
WHERE employee_id = 1;

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary DQL statement is SELECT.

SELECT:

The SELECT statement is used to retrieve data from one or more tables in a database.
Example: Retrieving information about employees from the 'employees' table:

sql
Copy code
SELECT employee_id, first_name, last_name, hire_date
FROM employees
WHERE department_id = 10;

### Q5. Explain Primary Key and Foreign Key.


Primary Key:

A primary key is a unique identifier for a record in a table. It ensures each record is uniquely identified and helps enforce data integrity.
Foreign Key:

A foreign key is a field in a table that refers to the primary key in another table. It establishes a link between the two tables, enforcing referential integrity.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

 Connect to MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

 Create a cursor object
cursor = connection.cursor()

 Example: Execute a SQL query
query = "SELECT * FROM your_table;"
cursor.execute(query)

 Fetch the result
result = cursor.fetchall()

# Close the cursor and connection
cursor.close()
connection.close()


cursor() method:

The cursor() method creates a cursor object, which is used to interact with the MySQL database. Cursors are used to execute SQL queries and fetch results.
execute() method:

The execute() method is used to execute a SQL query. In the example, it executes a SELECT query on the MySQL database. After executing the query, you can use methods like fetchone(), fetchall(), etc., to retrieve the results

### Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: Specifies the table(s) from which to retrieve data.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups rows that have the same values into summary rows.
HAVING: Filters the grouped rows based on specified conditions.
SELECT: Retrieves the specified columns.
ORDER BY: Sorts the result set based on specified columns.
LIMIT / OFFSET: Specifies the number of rows to retrieve and the starting point.